<div class="home-default">
  <div id="app">
    <img class="bg-image" src="/images/background.jpg">
    <div class="main-text"> With tea you can check the visit of students</div>
  </div>

  <div class="d-flex">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Teacher</h5>
          <p class="card-text">Register to check the attendance of your students</p>
          <a href="/edu/signup" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student</h5>
          <p class="card-text">Register to see your courses and teachers</p>
          <a href="/signup" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
