<div class="d-flex p-3">
   <div class="d-flex<div class="card" style="width: 18rem;">
    <%= image_tag get_teacher_info.avatar, class: "card-img-top" %>
   <div class="card-body">
     <h5 class="card-title"><%= "Fullname: #{get_teacher_info.firstname} #{get_teacher_info.lastname}" %></h5>
     <p class="card-text"><%= "Email: #{get_teacher_info.email}" %></p>
 </div>
</div>
