// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 2rem 0;

  .row {
    position: relative;
    padding: 0 13rem;
  }

  .check-button {
    position: absolute;
    bottom: 0;
    right: 13rem;
    font-size: 2rem;
  }
}

.home-teacher {
  padding: 2rem;

  .row {
    padding: 0 10rem;

    .form-search {
      min-width: 30rem;
      width: auto;
      flex-grow: 1;

      .btn-search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.home-student {
  padding: 2rem;

  .row {
    padding: 0 10rem;

    .form-search {
      min-width: 30rem;
      width: auto;
      flex-grow: 1;

      .btn-search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
